body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffff !important; 
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper{
  background-color: #131859 ;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1vuxth3-MuiBarElement-root{
  fill: #E3E2FB !important;
  /* shape-rendering: calc(1vw + 5px) !important; */
  /* width: 40px !important; */
  /* rx:5px !important */
}
.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line ,.MuiChartsAxis-directionY,.MuiChartsAxis-tick {
  display: none;
}
.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper{
  background-color:#242973!important ;
  
}

.css-11lq3yg-MuiGrid-root{
   background-color: aliceblue!important;  
}

